.outer {
    height: 8em;
    width: 3em;
    border: 2px solid grey;
    border-radius: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    height: 2em;
    width: 2em;
    background-color: grey;
    border-radius: 1em;
    cursor: move;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.inner:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
